<!doctype html>
<html lang="en">
  <head>
    <title>Queue Collab</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    


  </head>
  
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-success">
      <span class="navbar-brand">
        Build the perfect playlist, together
      </span>
    </nav>

    <!-- Body proper -->
    <div class="container-fluid">
      <div class="row">

        <!-- Left side containing current list -->
        <div class="col-6">
          
          <div class="row-sm py-3" id="nearby_queues">
            <h1 class="py-3">Nearby Queues</h1>

            <!-- Form to create a new queue at the current location -->
            <form id="queue_form">

              <ul class="list-group pb-3" id="queue_results"></ul>

              <div class="form-group">
                  <label for="new_queue">Start a queue</label>
                  <input type="text" class="form-control" id="new_queue" name="queue_string" placeholder="Name of queue">
              </div>
              <button type="submit" class="btn btn-primary btn-lg bg-success" id="queue_search">Add Queue</button>
            
            </form>

          </div>

          <div class="row-sm py-3">

            <ul class="list-group" id="song_list">
            </ul>

          </div>
        </div>

        <!-- Right side containing song search -->
        <div class="col-6">
          <div class="row-sm py-3">
            <h1 class="pt-3">Search songs</h1>
          </div>

          <div class="row-sm pb-3">
            <form>
              <div class="form-group">
                <label for="song_search">Search for tracks</label>
                <input type="text" class="form-control" id="song_name" name="track_string" placeholder="Enter song name">
              </div>

              <button type="button" class="btn btn-primary btn-lg bg-success" id="search_button">Search</button>

            </form>
          </div>
          <div class="row-sm">
            <ul class="list-group" id="search_results">
            </ul>
          </div>


        </div>
      </div>
    </div>

    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
    <!-- Run core scripts to set up authorization token, etc. -->
    <script type="text/javascript" src="./core.js"></script>

  </body>
</html>